<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body">
				<form id="access" >
					<input type="hidden" name="id" value="<{$id}>">
<ul class="sidebar-menu" style="padding-left: 1rem">
	<{if !empty($node)}>
	<{volist name="node" id="vo"}>
	<li class="treeview active">

		<div class="col-xs-12">
			<div class="checkbox icheck">
				<label>
					<input type="checkbox" name="rule[]" value="<{$vo.id}>" <{if condition='$vo.checked eq 1'}>checked="checked"<{/if}> >
					<i class="<{$vo.icon}>"></i>
					<{$vo.node_name}>
				</label>
			</div>
		</div>
		<!--<a href="<{$vo.href}>">
			<i class="<{$vo.icon}>"></i> <span><{$vo.node_name}></span>
			<span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
		</a>-->
		<ul class="treeview-menu" style="padding-left: 5rem">
			<{if !empty($vo['child'])}>
			<{volist name="$vo['child']" id="v"}>
			<li class="<{if condition='$v.node_name eq $title'}>active<{/if}>">
				<div class="col-xs-12">
					<div class="checkbox icheck">
						<label>
							<input type="checkbox" name="rule[]" value="<{$v.id}>" <{if condition='$v.checked eq 1'}>checked="checked"<{/if}> >
							<i class="<{$v.icon}>"></i>
							<{$v.node_name}>
						</label>
					</div>
				</div>
				<!--<a href="<{$v.href}>"><i class="<{$v.icon}>"></i><{$v.node_name}></a>-->
			</li>
			<{/volist}>
			<{/if}>
		</ul>
	</li>
	<{/volist}>
	<{/if}>
</ul>
					<div class="box-footer col-md-12">
						<button type="button" class="btn btn-primary access">提 交</button>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</section>