
    <div class="page page-current">
        <!-- 你的html代码 -->
        <header class="bar bar-nav">
            <!--<a class="icon icon-me pull-left open-panel" data-panel=".panel-left"></a>-->
            <a class="pull-right open-panel" data-panel=".popup-left">
                <span class="icon icon-menu"></span>
            </a>
            <h1 class="title">首页</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item active" href="/index">
                <span class="icon icon-remove"></span>
                <span class="tab-label">回收</span>
            </a>
            <a class="tab-item" href="/index/index/color">
                <span class="icon icon-star"></span>
                <span class="tab-label">活动</span>
            </a>
            <a class="tab-item" onclick="indexLogin('/index/user/index')" href="#">
                <span class="icon icon-me"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
        <div class="content">
            <div class="swiper-container" data-space-between='10' style="height: 33.33vw;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img
                            src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg"
                            alt="" style='width: 100%'></div>
                    <div class="swiper-slide"><img
                            src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg"
                            alt="" style='width: 100%'></div>
                    <div class="swiper-slide"><img
                            src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg"
                            alt="" style='width: 100%'></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="toolbar-inner">
                <a href="index/order/price" class="button tab-item">
                    <span class="icon icon-app"></span>
                    <span class="tab-label">纸板</span>
                </a>
                <a href="/index/Media/index" class="button tab-item">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">家电</span>
                </a>
                <a href="#" class="button tab-item">
                    <span class="icon icon-computer"></span>
                    <span class="tab-label">书报</span>
                </a>
            </div>

            <div class="toolbar-inner">
                <a href="#tab4" class="button tab-item">
                    <span class="icon icon-app"></span>
                    <span class="tab-label">熟料框</span>
                </a>
                <a href="#tab5" class="button tab-item">
                    <span class="icon icon-computer"></span>
                    <span class="tab-label">熟料瓶</span>
                </a>
                <a href="#tab6" class="button tab-item">
                    <span class="icon icon-gift"></span>
                    <span class="tab-label">废金属</span>
                </a>
            </div>
        </div>
    </div>