<div id="order-info" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">回收单详情</h1>
    </header>
    <div class="content">
        <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">预约日期：</div>
                        <div class="item-input task_date">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">回收状态：</div>
                        <div class="item-input task_status">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">回收人员：</div>
                        <div class="item-input recover_user">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>
</div>