<div id="price" class="page page-current">
    <!-- 你的html代码 -->
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <a class="pull-right open-panel" data-panel=".popup-left">
            <span class="icon icon-menu"></span>
        </a>
        <h1 class="title">回收价格一览</h1>
    </header>
    <div class="content">
        <div class="toolbar-inner">
            <a href="#tab1" class="tab-link button tab-item active">
                <span class="icon icon-app"></span>
                <span class="tab-label">纸板</span>
            </a>
            <a href="#tab2" class="tab-link button tab-item">
                <span class="icon icon-computer"></span>
                <span class="tab-label">家电</span>
            </a>
            <a href="#tab3" class="tab-link button tab-item">
                <span class="icon icon-remove"></span>
                <span class="tab-label">书报</span>
            </a>
        </div>
        <div class="toolbar-inner">
            <a href="#tab4" class="tab-link button tab-item">
                <span class="icon icon-app"></span>
                <span class="tab-label">熟料框</span>
            </a>
            <a href="#tab5" class="tab-link button tab-item">
                <span class="icon icon-computer"></span>
                <span class="tab-label">熟料瓶</span>
            </a>
            <a href="#tab6" class="tab-link button tab-item">
                <span class="icon icon-gift"></span>
                <span class="tab-label">废金属</span>
            </a>
        </div>

        <div class="tabs price-tabs">
            <div id="tab1" class="tab active">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">纸板(<30公斤)</div><div class="item-after">￥0.4/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">纸板(<30公斤～50公斤)</div><div class="item-after">￥0.5/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">纸板(>50公斤)</div><div class="item-after">￥0.6/公斤</div></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tab2" class="tab">
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner"><div class="item-title">电视</div><div class="item-after">￥20～70/台</div></div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner"><div class="item-title">空调</div><div class="item-after">￥100～200/台</div></div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner"><div class="item-title">电脑</div><div class="item-after">￥10～30/台</div></div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner"><div class="item-title">洗衣机</div><div class="item-after">￥10～30/台</div></div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner"><div class="item-title">手机</div><div class="item-after">￥3～30/台</div></div>
                            </li>
                        </ul>
                    </div>
            </div>
            <div id="tab3" class="tab">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">书报</div><div class="item-after">￥0.6/公斤</div></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tab4" class="tab">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">白框（透明）</div><div class="item-after">￥2.5/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">黑框</div><div class="item-after">￥0.6/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">篮筐</div><div class="item-after">￥0.7/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">红框</div><div class="item-after">￥1.2/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">白框（普通）</div><div class="item-after">￥0.6/公斤</div></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tab5" class="tab">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">瓶子</div><div class="item-after">￥0.03/个</div></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tab6" class="tab">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">铁</div><div class="item-after">￥0.03/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">铜</div><div class="item-after">￥0.03/公斤</div></div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner"><div class="item-title">铝</div><div class="item-after">￥0.03/公斤</div></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="submit-button">-->
            <a href="#" onclick="indexLogin('/index/order/recover')" class="button button-fill button-big">开始回收</a>
        <!--</div>-->
    </div>
</div>