<div id="recover" class="page page-current">
    <!-- 你的html代码 -->
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">预约回收</h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul class="address-show">
                <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-my-address"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">当前服务地址：</div>
                        <div class="item-after open-recover"><i class="icon icon-edit-address"></i></div>
                    </div>
                </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><!--<i class="icon icon-form-name"></i>--></div>
                        <div class="item-inner address_city"></div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><!--<i class="icon icon-form-name"></i>--></div>
                        <div class="item-inner address_input"></div>
                    </div>
                </li>
            </ul>
            <ul class="address-hide">
                <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-my-address"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">请填写地址：</div>
                        <div class="item-after open-recover"><i class="icon icon-edit-address"></i></div>
                    </div>
                </div>
                </li>
            </ul>
            <ul class="recover-date">
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-calendar"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">选择服务日期：</div>
                        <input type="hidden" name="recover_date" value="1" />
                    </div>
                </div>
                <div class="toolbar-inner">
                    <a href="#tab1" class="tab-link button tab-item active tab1">
                        <span class="font">星期五</span>
                        <span class="tab-label">（3月3日）</span>
                    </a>
                    <a href="#tab2" class="tab-link button tab-item tab2">
                        <span class="font">星期五</span>
                        <span class="tab-label">（3月3日）</span>
                    </a>
                    <a href="#tab3" class="tab-link button tab-item tab3">
                        <span class="font">星期五</span>
                        <span class="tab-label">（3月3日）</span>
                    </a>
                    <a href="#tab4" class="tab-link button tab-item tab4">
                        <span class="font">星期五</span>
                        <span class="tab-label">（3月3日）</span>
                    </a>
                </div>
            </ul>
            <ul class="recover-time">
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-time"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">选择服务时间：</div>
                        <input type="hidden" name="recover_time" value="8:00~12:00" />
                    </div>
                </div>
                <div class="toolbar-inner">
                    <a href="#tab5" class="tab-link button tab-item active">
                        <span class="tab-label">8:00~12:00</span>
                    </a>
                    <a href="#tab6" class="tab-link button tab-item">
                        <span class="tab-label">13:00~17:00</span>
                    </a>
                    <a href="#tab7" class="tab-link button tab-item">
                        <span class="tab-label">17:00~19:00</span>
                    </a>
                </div>
                <div class="tabs price-tabs">
                    <div id="tab1" class="tab active"></div>
                    <div id="tab2" class="tab"></div>
                    <div id="tab3" class="tab"></div>
                    <div id="tab4" class="tab"></div>
                </div>
                <div class="tabs price-tabs">
                    <div id="tab5" class="tab active"></div>
                    <div id="tab6" class="tab"></div>
                    <div id="tab7" class="tab"></div>
                </div>
            </ul>
        </div>
        <div class="submit-recover">
            <a href="#" class="button button-fill button-big">召唤小黄人</a>
        </div>
    </div>
    <div class="popup popup-recover">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left close-popup" href="javascript:;">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">编辑回收地址</h1>
        </header>
        <div class="content edit-address">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon icon-my-address"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">服务地址：</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">省 市 区</div>
                                <div class="item-input">
                                    <input placeholder="" id="city-picker" name="address_city" readonly="" type="text">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">详细地址</div>
                                <div class="item-input">
                                    <input type="text" name="address_input" placeholder="请精确到门牌号">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="button button-fill button-big submit-address">确定</a>
        </div>
    </div>
</div>