<div id="user-order-info" class="page order-info">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">回收单详情</h1>
        <!--<a class="pull-right open-panel" data-panel=".popup-order">
            <span class="icon icon-user-edit"></span>
        </a>-->
    </header>
    <div class="content" id="info">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">回收单号：</div>
                            <input type="hidden" name="id" value="" />
                            <div class="item-input order_id">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">预约日期：</div>
                            <div class="item-input task_date">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">回收状态：</div>
                            <div class="item-input task_status">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">服务客户：</div>
                            <div class="item-input member_name">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">客户电话：</div>
                            <div class="item-input member_mobile">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">回收地区：</div>
                            <div class="item-input task_city">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">回收地址：</div>
                            <div class="item-input task_address">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>