<div id="user-order-list" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <a class="pull-right open-panel" data-panel=".popup-left">
            <span class="icon icon-menu"></span>
        </a>
        <h1 class="title">我的回收单</h1>
    </header>
    <div class="content">
        <div class="buttons-tab">
            <a href="#tab1" class="tab-link button order-tab1 active">进行中</a>
            <a href="#tab2" class="tab-link button order-tab2">已完成</a>
        </div>

        <div class="tabs">
            <div id="tab1" class="tab infinite-scroll active">
                <div class="list-block media-list inset">
                    <ul>
                    </ul>
                </div>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader">
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab infinite-scroll">
                <div class="list-block media-list inset">
                    <ul>
                    </ul>
                </div>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>