<div id="add-user" class="page page-current">
    <!-- 你的html代码 -->
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <a class="pull-right open-panel" data-panel=".popup-left">
            <span class="icon icon-menu"></span>
        </a>
        <h1 class="title">添加客户</h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul class="recover-date">
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">客户名称</div>
                            <div class="item-input">
                                <input type="text" name="username" placeholder="请填写客户名称">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-tel"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">客户电话</div>
                            <div class="item-input">
                                <input type="tel" name="mobile" placeholder="请填写客户电话">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <i class="icon icon-my-address"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">请填写服务地址：</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">省市区/县</div>
                            <div class="item-input">
                                <input placeholder="" id="city-picker" name="address_city" readonly="" type="text">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">详细地址</div>
                            <div class="item-input">
                                <input type="text" name="address_input" placeholder="请精确到门牌号">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="submit-addUser">
            <a href="#" class="button button-fill button-big">提交</a>
        </div>
    </div>
</div>