<div id="user-index" class="page">
    <header class="bar bar-nav">
        <a class="pull-right open-panel" data-panel=".popup-left">
            <span class="icon icon-menu"></span>
        </a>
        <h1 class="title">我的小黄人</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item" href="/">
            <span class="icon icon-remove"></span>
            <span class="tab-label">回收</span>
        </a>
        <a class="tab-item" href="/index/index/color">
            <span class="icon icon-star"></span>
            <span class="tab-label">活动</span>
        </a>
        <a class="tab-item active" href="#">
            <span class="icon icon-me"></span>
            <span class="tab-label">我</span>
        </a>
    </nav>
    <div class="content">
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-border">
                <div class="item-photo">
                    <img class="member-icon">
                </div>
                <div class="header-text">
                    <div class="member-mobile"></div>
                    <div class="member-address"></div>
                </div>
            </div>
            <div class="card-header">
                <a href="/index/user/money" class="money"><i class="icon icon-money"></i>余额：</a>
                <a href="javascript:;" ></a>
                <a href="/index/user/integral" class="integral"><i class="icon icon-integral"></i>积分：</a>
            </div>
        </div>
        <div class="list-block">
            <ul>
                <li class="item-content item-link" onclick="indexLogin('/index/order/orderList')">
                    <div class="item-media"><i class="icon icon-order"></i></div>
                    <div class="item-inner"><div class="item-title">我的回收单</div></div>
                </li>
                <li class="item-content item-link" onclick="indexLogin('/index/user/money')">
                    <div class="item-media"><i class="icon icon-sum-money"></i></div>
                    <div class="item-inner"><div class="item-title">我的钱包</div></div>
                </li>
                <!--<li class="item-content item-link">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner"><div class="item-title">我的消息</div></div>
                </li>-->
                <li class="item-content item-link" onclick="indexLogin('/index/user/integral')">
                    <div class="item-media"><i class="icon icon-use-integral"></i></div>
                    <div class="item-inner"><div class="item-title">我的积分</div></div>
                </li>
                <li class="item-content item-link" onclick="indexLogin('/index/user/count')">
                    <div class="item-media"><i class="icon icon-count"></i></div>
                    <div class="item-inner"><div class="item-title">我的统计</div></div>
                </li>
                <li class="item-content item-link" onclick="loginOut()">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner"><div class="item-title">退出登录</div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="popup popup-recover">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left close-popup" href="javascript:;">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">编辑地址</h1>
        </header>
        <div class="content edit-address">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon icon-my-address"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">服务地址：</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">省 市 区</div>
                                <div class="item-input">
                                    <input placeholder="" id="city-picker" name="address_city" readonly="" type="text">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">详细地址</div>
                                <div class="item-input">
                                    <input type="text" name="address_input" placeholder="请精确到门牌号">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="button button-fill button-big submit-address">确定</a>
        </div>
    </div>
</div>