<div id="member" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">客户基本信息</h1>
    </header>
    <div class="content" id="info">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">客户名称：</div>
                            <div class="item-input username">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">真实姓名：</div>
                            <div class="item-input actual_name">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">客户电话：</div>
                            <div class="item-input mobile">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">客户地区：</div>
                            <div class="item-input address_city">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">详细地址：</div>
                            <div class="item-input address_input">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <p class="buttons-row">
            <a href="/index/user/addUser" class="button button-raised button-big">编辑客户</a>
            <a href="/index/user/price" class="button button-raised button-big">签约金额</a>
        </p>
    </div>
</div>