<div id="money" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">我的钱包</h1>
    </header>
    <div class="content">
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-padding">
                <img class="card-cover" src="__SUI_IMG__/withdraw.svg" alt="">
            </div>
            <div class="card-header">
                <p class="link"></p>
                <p class="link money">余额为：￥00.00</p>
                <p class="link"></p>
            </div>
        </div>
        <div class="content-block">
            <{eq name="is_admin" value="1"}>
            <a href="#" class="button button-fill button-big login-button open-transfer">转账</a>
            <{else/}>
            <a href="/index/funds/withdraw" class="button button-fill button-big login-button submit-money">提现</a>
            <{/eq}>
            <p class="buttons-row">
                <a href="/index/user/incomeList" class="button button-raised button-big">收支明细</a>
                <a href="/index/funds/withdrawList" class="button button-raised button-big">提现明细</a>
            </p>
        </div>
    </div>
    <{eq name="is_admin" value="1"}>
    <div class="popup popup-transfer">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left close-popup" href="javascript:;">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">编辑地址</h1>
        </header>
        <div class="content edit-address">
            <div class="withdraw-money">
                <span class="money"></span>
            </div>
            <div class="withdraw-input">
                <input class="modal-text-input" type="number" name="withdraw" oninput="checkMoney(value)" value="" placeholder="请输入转账金额" />
            </div>
            <div class="withdraw-money">
                <span>转账给</span>
            </div>
            <div class="content-block">
                <div class="list-block media-list">

                </div>
                <div class="submit-withdraw">
                    <a href="javascript:;" class="button button-fill button-big login-button ">确定</a>
                </div>
            </div>
        </div>
    </div>
    <{/eq}>
</div>