<div id="money" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">我的钱包</h1>
    </header>
    <div class="content">
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-padding">
                <img class="card-cover" src="__SUI_IMG__/withdraw.svg" alt="">
            </div>
            <div class="card-header">
                <p class="link"></p>
                <p class="link money">可提现余额为：￥00.00</p>
                <p class="link"></p>
            </div>
        </div>
        <div class="content-block">
            <a href="/index/user/withdraw" class="button button-fill button-big login-button submit-money">提现</a>
            <p class="buttons-row">
                <a href="/index/user/repassword" class="button button-raised button-big">收支明细</a>
                <a href="/index/index/register" class="button button-raised button-big">提现明细</a>
            </p>
        </div>
    </div>
</div>