<div id="member-price" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <a class="pull-right button button-link button-nav" href="#">
            添加
        </a>
        <h1 class="title">客户签约金额</h1>
    </header>
    <div class="content">
        <div class="tabs infinite-scroll active">
            <div class="list-block media-list">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>