<div id="transfer-info" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">转账详情</h1>
    </header>
    <div class="content" id="info">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">转账金额：</div>
                            <div class="item-input transfer_money">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">当前状态：</div>
                            <div class="item-input status">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">转账用户：</div>
                            <div class="item-input send_id">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">收账用户：</div>
                            <div class="item-input user_id">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">转账日期：</div>
                            <div class="item-input create_time"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">备注信息：</div>
                            <div class="item-input remark"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>