<div id="withdraw-info" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="#">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">提现详情</h1>
    </header>
    <div class="content" id="info">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">提现金额：</div>
                            <div class="item-input withdraw_money">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">提现类型：</div>
                            <div class="item-input withdraw_type">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">申请日期：</div>
                            <div class="item-input withdraw_date">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">提现信息：</div>
                            <div class="item-input withdraw_info">
                                王大锤<br/>重庆农村商业银行<br/>6203112014521450121
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>