        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="btn-group">
                                <a href="<{:url('task/index', 'type=undone')}>" class="btn btn-default <{eq name='type' value='undone'}>active<{/eq}>">未完成</a>
                                <a href="<{:url('task/index', 'type=end')}>" class="btn btn-default <{eq name='type' value='end'}>active<{/eq}>">已完成</a>
                                <a href="<{:url('task/index', 'type=cancel')}>" class="btn btn-default <{eq name='type' value='cancel'}>active<{/eq}>">已取消</a>
                                <a href="<{:url('task/index', 'type=expired')}>" class="btn btn-default <{eq name='type' value='expired'}>active<{/eq}>">已过期</a>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>任务ID</th>
                                    <th>用户名(手机号)</th>
                                    <th>回收员（手机号）</th>
                                    <th>回收日期</th>
                                    <th>地址地区</th>
                                    <th>详细地址</th>
                                    <th>单价</th>
                                    <th>总价</th>
                                    <th>交易方式</th>
                                    <!--<th>状态</th>-->
                                    <{eq name='type' value='undone'}>
                                    <th>操作</th>
                                    <{/eq}>
                                </tr>
                                </thead>
                                <tbody>
                                <{volist name="list" id="vo"}>
                                <tr id="id_<{$vo.id}>">
                                    <td><{$vo.order_id}></td>
                                    <td><{$vo.member_name}>（<{$vo.member_mobile}>）</td>
                                    <td><{elt name='vo.user_id' value='0'}><{else /}><{$vo.user_name}>（<{$vo.user_mobile}>）<{/elt}></td>
                                    <td><{$vo.task_date,$vo.task_time}></td>
                                    <td><{$vo.task_city}></td>
                                    <td><{$vo.task_address}></td>
                                    <td><{$vo.task_price}></td>
                                    <td><{$vo.task_money}></td>
                                    <td>
                                        <{eq name='vo.task_type' value='1'}>线上交易<{/eq}>
                                        <{eq name='vo.task_type' value='2'}>现金交易<{/eq}>
                                    </td>
                                    <!--<td><{switch name="type" }>
                                        <{case value="undone"}>未完成<{/case}>
                                        <{case value="end"}>已完成<{/case}>
                                        <{default /}>已过期
                                        <{/switch}></td>-->
                                    <{eq name='type' value='undone'}>
                                    <td>
                                        <{elt name='vo.user_id' value='0'}>
                                        <button type="button" onclick="send_task(<{$vo.id}>)" class="btn btn-success">分配回收员</button>
                                        <{else /}>
                                        <button type="button" class="btn btn-success disabled">已派发</button>
                                        <{/elt}>
                                        <button type="button" onclick="cancel_task(<{$vo.id}>)" class="btn btn-danger">取消预约</button>
                                    </td>
                                    <{/eq}>
                                </tr>
                                <{/volist}>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

                <div class="modal" id="sendModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form role="form" method="post" id="send-task">
                                <input name="id" type="hidden" value='' >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">分配回收员</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" name="user_id" tabindex="-1" aria-hidden="true">
                                                    <{volist name="recyclers" id="vo"}>
                                                    <option value="<{$vo.id}>"><{$vo.name}></option>
                                                    <{/volist}>
                                                </select>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary send-task">确认</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal" id="cancelModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form role="form" method="post" id="cancel-task">
                                <input name="id" type="hidden" value='' >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">取消预约订单</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" name="user_id" tabindex="-1" aria-hidden="true">
                                                    <{volist name="recyclers" id="vo"}>
                                                    <option value="<{$vo.id}>"><{$vo.name}></option>
                                                    <{/volist}>
                                                </select>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary cancel-task">确认</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

        </section>
        <!-- /.content -->
